.container {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 100%;

  @media all and (min-width: 740px) {
    grid-column-gap: 1rem;
    grid-template-columns: 50% 50%;
  }

  @media all and (min-width: 1140px) {
    grid-template-columns: 31% 31% 31%;
  }
  ul {
    padding-left: 1rem;
    li a {
      padding: 0.25rem;
      margin: 0.25rem;
      display: inline-block;
    }
  }
}

.item {
  padding: 1rem;
  border: 1px solid rgba(27, 90, 143, 0.2);
  background: rgba(69, 127, 172, 0.01);
  border-radius: 2px;
  transition: all 0.2s ease-in;

  &:hover {
    border: 1px solid rgba(27, 90, 143, 0.5);
    background: rgba(69, 127, 172, 0.05);
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    color: rgba(27, 90, 143, 0.9);
  }

  h3 {
    margin-top: 0.25rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 200;
    color: rgba(24, 77, 122, 0.8);
  }

  p {
    margin-bottom: 0;
  }
}
