html,
body {
  @media all and (max-width: 759px) {
    -webkit-overflow-scrolling: touch !important;
  }
}

html {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(23, 42, 58, 1);
  font-size: 16px;
  line-height: 1.4;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @media all and (min-width: 760px) {
    overflow: auto;
    height: auto;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

a,
a:focus,
a:visited {
  text-decoration: none;
  color: rgba(162, 71, 131, 1);
  cursor: pointer;
}

#app > div {
  width: 100%;
  max-width: 1140px;
  overflow: auto;
  margin: 0 auto;
  padding: 2rem 1rem;

  @media all and (max-width: 1024px) {
    padding: 0.5rem 2rem 0.5rem 1rem;
  }

  @media all and (max-width: 740px) {
    padding: 0.5rem 1rem;
  }

  &:last-child {
    @media all and (max-width: 768px) {
      padding-bottom: 2rem;
    }
  }

  &.wide {
    padding: 2rem 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

h3 {
  font-weight: 400;
}
